schemas/events.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT events (event+)>

<!ELEMENT event (title, from, to, location, guest*)>
<!ATTLIST event
  id IDREF #REQUIRED
  refgrp IDREF #REQUIRED
>

<!ELEMENT title (#PCDATA)>
<!ELEMENT from (#PCDATA)>
<!ELEMENT to (#PCDATA)>
<!ELEMENT location (#PCDATA)>
<!ELEMENT guest>
<!ATTLIST guest
  refuser IDREF #REQUIRED
>
