schemas/groups.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT groups (group*)>

<!ELEMENT group (name, description, user*,avatar)>
<!ATTLIST group
  id ID #REQUIRED
>

<!ELEMENT name (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT user EMPTY>
<!ATTLIST user
          refuser CDATA #REQUIRED>
<!ELEMENT avatar (#PCDATA)>          
